.in-view {
    animation: animate-in-view .6s ease-out forwards;
}

@keyframes animate-in-view {
    0% {
        transform: translate(0, 20px) scale(1.1);
        opacity: 0;
    }
    35% {
        transform: translate(0, 20px) scale(1.1);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}