.carousel-item.active .btn-primary {
  animation: animate-carousel-btn-primary 1s normal forwards;
  animation-delay: 1s;
}

.carousel-item.active .btn-info {
  animation: animate-carousel-btn-info 1s normal forwards;
  animation-delay: 2s;
}

@keyframes animate-carousel-btn-primary {
  0% {
    opacity: 0;
    transform: translate(-3em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-carousel-btn-info {
  0% {
    opacity: 0;
    transform: translate(3em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
