.carousel-item .embed-responsive-item {
  background-size: cover;
}

.embed-responsive-item h3 {
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.carousel-item h3 {
  opacity: 0;
}

.carousel-item .btn {
  opacity: 0;
}

.carousel-item.active h3 {
  animation: animate-carousel-title 1s normal forwards;
}

.carousel-item.active .btn-primary {
  animation: animate-carousel-btn-primary 2s normal forwards;
}

.carousel-item.active .btn-info {
  animation: animate-carousel-btn-info 3s normal forwards;
}

@keyframes animate-carousel-title {
  0% {
    transform: translate(0, -2em);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes animate-carousel-btn-primary {
  0% {
    opacity: 0;
    transform: translate(-3em, 0);
  }
  50% {
    opacity: 0;
    transform: translate(-3em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes animate-carousel-btn-info {
  0% {
    opacity: 0;
    transform: translate(3em, 0);
  }
  67% {
    opacity: 0;
    transform: translate(3em, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
