:root {
  --body-bg: #fff;
  --body-color: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #111;
    --body-color: #ecf0f1;
  }
}

$body-bg: var(--body-bg);
$body-color: var(--body-color);

@import "~bootstrap/scss/bootstrap";
