<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/build/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/icons/apple-touch-icon.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/icons/favicon-32x32.png' | prepend: site.baseurl }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/icons/favicon-16x16.png' | prepend: site.baseurl }}">
    <link rel="manifest" href="{{ '/icons/manifest.json' | prepend: site.baseurl }}">
    <link rel="mask-icon" href="{{ '/icons/safari-pinned-tab.svg' | prepend: site.baseurl }}" color="#007bff">
    <link rel="shortcut icon" href="{{ '/icons/favicon.ico' | prepend: site.baseurl }}">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#007bff">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    {% if page.css %}
        <link rel="stylesheet" href="{{ page.css }}">
    {% endif %}
    <script data-ad-client="ca-pub-3233152001180132" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
{{ content }}

{% if page.javascript %}
    <script src="{{ page.javascript }}"></script>
{% endif %}
<script src="{{ "/build/runtime.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/build/main.js" | prepend: site.baseurl }}"></script>
</html>
