<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/build/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css">
    <link rel="stylesheet" href="{{ "/css/highlight.css" | prepend: site.baseurl }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script data-ad-client="ca-pub-3233152001180132" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse bg-primary">
    <div class="container">
        <a class="navbar-brand" href="#">
            {{ site.title }}
        </a>
    </div>
</nav>
<div class="container bg-faded py-2">
    <h1>{{ page.title }}</h1>
    <div class="text-muted">{{ page.date | date: "%b %-d, %Y" }}</div>
    {{ content }}
    <hr>
    {% include footer.html %}
</div>

<script src="{{ "/build/runtime.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/build/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>
